.img-player {
  height: 100vh;
  background: url("../images/img-alexis.png");
  background-size: cover;
  background-repeat: no-repeat
}

.player-bio-container {
  height: 100vh;
}

.player-bio {
  position: relative;
  top: 40%;
  transform: translateY(-40%);
}

.player-name {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 75px;
  letter-spacing: -3px;
  color: #ddc1a2;
}

.name-highlight {
  color: #e74c3c;
}

.player-team {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  letter-spacing: 5px;
  color: #4a4a4a;
  margin: 24px 0 0 0;
}

.player-descr {
  margin-top: 16px;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 1.4;
  text-align: justify;
  color: #4a4a4a;
}

.player-descr-first {
  margin-top: 24px;
}

.descr-highlight {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #9B9B9B;
}

a:hover {
  color: #e74c3c;
}

.made-by {
  color: #ddc1a2;
}

@media screen and (max-width: 992px) {
  .img-player {
    height: 50vh;
  }
  .player-bio {
    top: 0%;
    transform: translateY(-0%);
    padding: 16px 0 80px 0;
  }

  .mobile-footer {
    text-align: left;
  }
}